# ignore all these files everywhere
*.exe
*.txt

# ignore .vscode directory
.vscode/

# ignore all these files everywhere
*tempCodeRunnerFile.c
*tempCodeRunnerFile.c++
*tempCodeRunnerFile.cpp
*tempCodeRunnerFile.py
*tempCodeRunnerFile.js